<div class="logoName">
    <img class="w-15 h-15" src="assets/icons/dolly.png" alt="">
    <h1 class="text-2xl font-medium">Stowaway</h1>
</div>
<div class="buttons">
    <button class="drop-shadow drop-shadow-cyan-600 cursor-pointer w-40 bg-linear-to-r from-cyan-500 to-blue-500 hover:bg-linear-to-bl text-white">
        <img class="w-5 h-5 flex align-middle" src="assets/icons/plus.jpg" alt="">Add container
    </button>
    <button class="drop-shadow drop-shadow-emerald-600 cursor-pointer w-40 bg-linear-to-r from-green-400 to-cyan-500 hover:bg-linear-to-bl text-white">Add item</button>
</div>